body {
  display: flex;
  justify-content: center;
  margin: 30px;

}

.App {
  background: black;
  border-radius: 0.5rem;
  width: fit-content;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display {
  font-size: 130px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: right;
}

.btn-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 1fr);
  justify-content: end;
  margin: 10px;
}

.btn {
  font-size: 2rem;
  align-items: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 80px;
  transition: filter 0.3s ease-in;
}

.btn:active,
.btn:focus {
  filter: brightness(120%);
}

.btn.zero {
  grid-column: 1 / span 2;
  border-radius: 55px;
  justify-content: center;
  width: auto;
}

.btn.function {
  color: black;
  background: #a5a5a5;
}

.btn.operator {
  background: #f1a33c;
}

.cal-display {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-size: 5rem;
  height: 6rem;
  line-height: 6rem;
}

.scientific-keypad {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}